.CardList {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.CardList h2 {
  color: #50004d;
  font-size: 40px;
}

.CardListProducts {
  display: flex;
  gap: 100px;
  padding: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  background-color: rgb(240, 240, 240);
}

.CardListProducts::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .CardListProducts::-webkit-scrollbar {
    display: visible;
  }
}
