* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  width: 100vw;
  height: 50px;
  background-color: blue;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
