<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/extarnal.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="avviso">
      <h1>utente non autorizzato</h1>
      <a href="/">Torna alla pagina di login</a>
    </div>

  </body>
</html>