* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  color: #ffd323;
  transition: 0.5s;
}

a:hover {
  color: whitesmoke;
}

ul {
  list-style: none;
}

li {
  transition: 1s;
}

li:hover {
  transform: scale(1.1);
}

header ul {
  font-size: smaller;
  display: flex;
  gap: 20px;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  background-color: #705b08;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  padding-top: 50px;
  margin: 20px;
}

.mainTitle {
  background-clip: inherit;
  background: linear-gradient(300deg, #090784 5%, #feda4a 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.container {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  padding: 10px;
}

.card h3 {
  cursor: pointer;
  transition: 0.8s;
  text-align: center;
  height: 10%;
}

.card h2 {
  height: 10%;
  pointer-events: none;
}

.card h3:hover {
  color: #ffd323;
}

.card p {
  font-family: monospace;
  font-size: 15px;
  margin: 10px;
  text-align: center;
  pointer-events: none;
  height: 30%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 450px;
  width: 300px;
  margin: 15px;
  padding: 5px;
  border: 2px solid #534303;
  background-color: white;
  border-radius: 20px;
  gap: 10px;
  color: #705b08;
  transition: 0.5s;
  box-shadow: 2px 2px 3px #705b08;
}

.cardImageContainer {
  border: 2px solid #705b08;
  border-radius: 5px;
  width: 200px;
  height: 50%;
  transition: 1s;
}

.cardImageContainer:hover {
  transform: scale(1.1);
  border-radius: 10px;
  cursor: pointer;
}

.cardImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  transition: 1s;
}

.cardImage:hover {
  border-radius: 7px;
}

.loader {
  margin: 15px 20px;
}

footer {
  background-color: #feda4a;
  text-align: center;
  font-family: monospace;
  height: 20px;
  width: 100%;
}

footer:hover {
  background-color: rgb(2, 2, 40);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  * {
    transform: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    padding: 2px;
    padding-right: 5px;
  }

  header ul {
    font-size: 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}
