body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgray;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  width: 40%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: whitesmoke;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
}

.todo {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgb(218, 218, 218);
  width: 80%;
  border-radius: 6px;
}

.completed,
.uncompleted {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transition: 0.4s;
  border: 1px solid black;
}

.completed:hover,
.uncompleted:hover {
  cursor: pointer;
}

.uncompleted:hover {
  background: rgb(192, 192, 192);
}
.completed:hover {
  background: rgb(60, 60, 60);
}

.completed {
  background-color: black;
}
